@model WebApp.Models.FitnesCentar

<!DOCTYPE html>
<html>
<head>
    <title>Fitness Center Details</title>
</head>
<body>
    <h2>Fitness Center Details</h2>

    <form method="post" action="~/Vlasnik/UpdateFitnesCenter">
        @Html.HiddenFor(model => model.Naziv)
        @Html.HiddenFor(model => model.Adresa)
        @Html.HiddenFor(model => model.GodinaOtvaranja)

        <div>
            <label>Naziv:</label>
            <span>@Html.DisplayFor(model => model.Naziv)</span>
        </div>

        <div>
            <label>Adresa:</label>
            <span>@Html.DisplayFor(model => model.Adresa)</span>
        </div>

        <div>
            <label>Godina Otvaranja:</label>
            <span>@((int)Model.GodinaOtvaranja)</span>
        </div>

        <div>
            <label>Cena mesecno:</label>
            <input type="text" id="CenaMesec" name="CenaMesec" value="@Model.CenaMesec" />
        </div>

        <div>
            <label>Cena godisnje:</label>
            <input type="text" id="CenaGodina" name="CenaGodina" value="@Model.CenaGodina" />
        </div>

        <div>
            <label>Cena za jedan trening:</label>
            <input type="text" id="JedanTrening" name="JedanTrening" value="@Model.JedanTrening" />
        </div>

        <div>
            <label>Cena za grupni trening:</label>
            <input type="text" id="GrupniTrening" name="GrupniTrening" value="@Model.GrupniTrening" />
        </div>

        <div>
            <label>Cena za licnog trenera:</label>
            <input type="text" id="CenaPersonalTrener" name="CenaPersonalTrener" value="@Model.CenaPersonalTrener" />
        </div>

        <div>
            <label>Vlasnik:</label>
            <span>@Html.DisplayFor(model => model.Vlasnik)</span>
        </div>

        <div>
            <input type="submit" value="Izmeni" />
        </div>
    </form>
    <form action="@Url.Action("LogOut")" method="post">
        <button type="submit">Log out</button>
    </form>
</body>
</html>
