@model WebApp.Models.FitnesCentar

<!DOCTYPE html>
<html>
<head>
    <title>Fitness Center Details</title>
</head>
<body>
    <h2>Fitnes Centar</h2>

    <table border="1">
        <tr>
            <td><strong>Name:</strong></td>
            <td><span>@Html.DisplayFor(model => model.Naziv)</span></td>
        </tr>
        <tr>
            <td><strong>Address:</strong></td>
            <td><span>@Html.DisplayFor(model => model.Adresa)</span></td>
        </tr>
        <tr>
            <td><strong>Date of Opening:</strong></td>
            <td><span>@((int)Model.GodinaOtvaranja)</span></td>
        </tr>
        <tr>
            <td><strong>Monthly Price:</strong></td>
            <td><span>@Html.DisplayFor(model => model.CenaMesec)</span></td>
        </tr>
        <tr>
            <td><strong>Yearly Price:</strong></td>
            <td><span>@Html.DisplayFor(model => model.CenaGodina)</span></td>
        </tr>
        <tr>
            <td><strong>Price for One Training:</strong></td>
            <td><span>@Html.DisplayFor(model => model.JedanTrening)</span></td>
        </tr>
        <tr>
            <td><strong>Price for Group Training:</strong></td>
            <td><span>@Html.DisplayFor(model => model.GrupniTrening)</span></td>
        </tr>
        <tr>
            <td><strong>Price for Personal Trainer:</strong></td>
            <td><span>@Html.DisplayFor(model => model.CenaPersonalTrener)</span></td>
        </tr>
        <tr>
            <td><strong>Owner:</strong></td>
            <td><span>@Html.DisplayFor(model => model.Vlasnik)</span></td>
        </tr>
    </table>

</body>
</html>
