@model WebApp.Models.Korisnik

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            <label for="KorisnickoIme">Username:</label>
            @Html.TextBoxFor(m => m.KorisnickoIme)
        </div>

        <div>
            <label for="Lozinka">Password:</label>
            @Html.PasswordFor(m => m.Lozinka)
        </div>

        <button type="submit">Uloguj se</button>
    }
    <h2>Fitness Centers</h2>
    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Godina otvaranja</th>
            <th>Detalji</th>
        </tr>
        @foreach (var fitnesCentar in ViewBag.FitnesCentri)
        {
            <tr>
                <td>@fitnesCentar.Naziv</td>
                <td>@fitnesCentar.Adresa</td>
                <td>@((int)fitnesCentar.GodinaOtvaranja)</td>
                <td>
                    
                    <a href="@Url.Action("Details", "Auth", new { name = fitnesCentar.Naziv })">Detalji</a>
                </td>
            </tr>
        }
    </table>

    <form method="post" action="@Url.Action("RegisterView")">
        <button type="submit">Registruj se</button>
    </form>

</body>
</html>